$mainColor: #fff;
$secondaryColor: #333;

$textColor: #0e1;

$lucidaFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$fontBold: bold;
$sizeNormal: 1rem;
$sizeLarge: 2.5rem;
